/* Reset default browser styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: black;
    color: #fff;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: red;
}

.background-image {
    background-image: url('img1.jpg');
    background-size: cover;
    background-position: center;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
}

.page-content {
    padding: 20px;
}

footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
